    <footer>
      <p>Consejos para ser feliz ;): </p>
      <p>Sígueme en <a href="http://twitter.com/therealpablors">@therealpablors</a>, conoce un poco más sobre mí en <a href="http://therealpablors.com">mi web</a>, y lee mi <a href="http://medium.com/@therealpablors">blog</a></p>
    </footer>
  </body>
</html>